*{
  font-family:Arial;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

.canvas-container {
  position: relative;
}

.canvas-UI {
  position: absolute;
  top: 0;
  left: 0;
}

.gridSlider::before {
  content: '8';
  color:black;
  position: relative;
  left: 90%;
  top: 100%;
}

.gridSlider::after {
  content: '24';
  color:black;
  position: relative;
  right: 90%;
  top: 100%;
}

.radiusSlider::before {
  content: '10';
  color:black;
  position: relative;
  left: 90%;
  top: 100%;
}

.radiusSlider::after {
  content: '200';
  color:black;
  position: relative;
  left: 90%;
  top: 100%;
}

.slider::before {
  content: '1';
  color:black;
  position: relative;
  left: 90%;
  top: 100%;
}

.slider::after {
  content: '8';
  color:black;
  position: relative;
  right: 90%;
  top: 100%;
}

